{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Brushwood 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131025

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}TK Mall{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{% static 'Tk_mall/images/fav.png' %}">
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet">
<link href="{% static 'Tk_mall/default.css' %}" rel="stylesheet" type="text/css" media="all" >
<link href="{% static 'Tk_mall/fonts.css' %}" rel="stylesheet" type="text/css" media="all" >


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="">TK Mall</a></h1>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/home" accesskey="1" title="">Home</a></li>
					<li><a href="/about" accesskey="2" title="">About Us</a></li>
					<li><a href="/contact-us" accesskey="3" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="page" class="container">
		<div class="title">
			<h2>Welcome to TK Mall</h2>
		</div>
		<p>This is <strong>TK Mall</strong>, a new and upcoming shopping complex that provides everything under one roof. Come and exeprience a new way to shop and check out the amazing views while you are here. </p>
	</div>
</div>
<div id="wrapper">
	<div id="portfolio" class="container">
		<div class="column1">
			<div class="box"> <a href="#"><img src="{% static 'Tk_mall/images/img3.jfif' %}" alt="" class="image image-full" /></a>
				<h3>Grocery Shopping</h3>
				<p>Explore our grocery store and look through our various goods.</p>
				<a href="#" class="button button-small">See more</a> </div>
		</div>
		<div class="column2">
			<div class="box"> <a href="#"><img src="{% static 'Tk_mall/images/pham3.jfif' %}" alt="" class="image image-full" /></a>
				<h3>Pharmacy</h3>
				<p>Look through our all new Pharmacy. We got you covered on any medication you need.</p>
				<a href="#" class="button button-small">See more</a> </div>
		</div>
		<div class="column3">
			<div class="box"> <a href="#"><img src="{% static 'Tk_mall/images/bak6.jfif' %}" alt="" class="image image-full" /></a>
				<h3>Bakery</h3>
				<p>Check out our finnest baked delicacies.</p>
				<a href="#" class="button button-small">See more</a> </div>
		</div>
		<div class="column4">
			<div class="box"> <a href="#"><img src="{% static 'Tk_mall/images/res1.jfif' %}" alt="" class="image image-full" /></a>
				<h3>Restaurant</h3>
				<p>Come and enjoy some of our mouth wattering meals. With a beautiful sight to go with it.</p>
				<a href="#" class="button button-small">See more</a> </div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		<ul class="contact">
			<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
			<li><a href="#" class="icon icon-facebook"><span></span></a></li>
			<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
			<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
			<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
		</ul>
</div>
</body>
</html>
